p {

  color:#DA0037;

}

h1 {

color:#DA0037;
}

* {

  background-color: #191919;

}

img {
width:700px;
height:500px;

 }

 li {
  color: #FFAC41;


 }

tr {

color: #;


}

#thdates{

  color: #FFAC41;

}

#strongAnime{

  color: #FFAC41;
}


h3{

color:#B52B65;


}


strong{

  color:#C060A1;

}

em{

color:#DA0037;

}

th{

color: #FFAC41;

}


td{

  color: #FFAC41;

}

.container{

width: 400px;
height 225px;

}
